<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary | GUDLFT Registration</title>
</head>
<body>
        <h2>Total des points par club :</h2>

        <table>
            <tr>
                <td>Nom du Club</td>
                <td>Points</td>
            </tr>

            {% for club in clubs %}
                <tr>
                    <td>{{club.name}}</td>
                    <td>{{club.points}}</td>
                </tr>
            {% endfor %}
       </table>


</body>
</html>